<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    
    <connectionStrings>


      <!--
      <add name="WebAppConnString" 
        connectionString="server=127.0.0.1;
          User ID=sk_farhad;
          Password=skfarhadmay12;
          Database=db_a27401_asp" 
        providerName="MySql.Data.MySqlClient"/>
      
      -->


      
        <add name="WebAppConnString" 
        connectionString="server=mysql5019.smarterasp.net;
          User ID=a27401_asp;
          Password=SkFarhad002201;
          Database=db_a27401_asp" 
        providerName="MySql.Data.MySqlClient"/>
        
      <!---->
    </connectionStrings>
     

</configuration>
